.videoCard {
  display: flex;
  flex-direction: column;
  width: 194px;
  aspect-ratio: 16/16;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  transition: all 0.25s;
}

.videoCard:hover {
  cursor: pointer;
  scale: 1.1;
  z-index: 5;
}

.videoClip {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
