.nameText {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.mainDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10;
}

.contentDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.videoCardDiv {
  display: flex;
  aspect-ratio: 9 / 16;
  width: 30%;
  padding-inline: 12px;
  padding-bottom: 24px;
}

.userDiv {
  display: flex;
  align-items: center;
  position: relative;
}
