.nameText {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.mainDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.contentDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.videoCardDiv {
  display: flex;
  aspect-ratio: 9 / 16;
  width: 30%;
  padding-inline: 12px;
  padding-bottom: 24px;
}

.userDiv {
  display: flex;
  align-items: center;
  position: relative;
}
.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border: 1px solid ligthblue;
  background-color: lightblue;
  border-radius: 25px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: white;
  margin-left: 35px;
}
