.mainDiv {
  display: flex;
  padding: 24px;
  justify-content: center;
}

.followersDiv {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  border: 3px solid lightblue;
  border-radius: 25px;
  padding: 24px;
}
