.followerDiv {
  background-color: lightblue;
  border-radius: 25px;
  align-self: center;
  display: flex;
  align-items: center;
  color: white;
  padding: 2px;
  padding-inline: 12px;
}

.followerDiv p {
  margin: 0;
  padding: 0;
}

.followerDiv:hover {
  background: red;
}
