.buttonSidebar {
  background-color: #fafafa;
  border: 0px;
  font-size: 20px;
  padding: 18px;
}

.buttonSidebar:hover {
  background-color: rgb(237, 232, 232);
  border-radius: 25px;
  cursor: pointer;
}

.buttonSidebar p {
  font-size: 12px;
}

.userDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 25px;
  padding: 8px;
  height: 35px;
}

.userDiv:hover {
  background-color: #ede8e8;
}

.mainLayout {
  display: flex;
  flex: 1;
  background-color: #fafafa;
  flex-direction: column;
  align-items: center;
}

.contentDiv {
  display: flex;
  gap: 10;
  margin-top: 24px;
  flex-direction: column;
}

.followersDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.followerNumber {
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: #333333;
  font-weight: 700;
}

.followerNumber:hover {
  cursor: pointer;
  scale: 1.1;
  text-decoration: underline;
}

.followerText {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border: 1px solid ligthblue;
  background-color: lightblue;
  border-radius: 25px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: white;
}
