.mainDiv {
  display: flex;
  height: 75px;
  width: 100%;
  align-items: center;
}

.buttonDiv {
  display: flex;
  flex: 1;
  justify-content: center;
}

.searchDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 75px;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 300px;
}

.rightDiv {
  display: flex;
  flex: 1;
  height: 75px;
  justify-content: center;
}
