.videoCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 10/16;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
}

.videoFooter {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footerContainer {
  display: flex;
  flex: 1;
  padding: 6px;
}

.footerLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footerLeft p {
  margin: 0;
}

.footerRight {
  display: flex;
  height: 35%;
  align-self: flex-end;
}

.footerUser {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.subscribeButton {
  margin-bottom: 6px;
  color: white;
  font-size: 10px;
  background-color: black;
  box-shadow: none;
  border-radius: 20px;
}

.subscribeButton:hover {
  background-color: red;
}

.videoTitle {
  font-size: 14px;
  font-weight: 500;
}

.videoClip {
}
