.input {
  height: 2rem;
  text-align: center;
  width: 10rem;
  border-radius: 25px;
  border-color: grey;
  border: 1px solid;
}

.buttonLogIn {
  color: white;
  background-color: blue;
  border-radius: 25px;
  height: 3rem;
  width: 15rem;
  border-color: black;
  border: 1px solid;
}

.buttonLogIn:hover {
  cursor: pointer;
  background-color: darkblue;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 700px;
}

.imageDiv {
  display: flex;
  flex: 1;
  aspect-ratio: 10/16;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loginContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  gap: 1rem;
  background-color: white;
  padding: 8px;
  border-radius: 25px;
  border: 3px solid;
}

.createAccountButton {
  color: white;
  background-color: lightblue;
  border: 0;
  border-radius: 25px;
  width: 140px;
  padding: 12px;
  align-self: center;
}

.createAccountButton:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.25s ease-in-out;
}
